<a href="/admin/liikmed">Tagasi</a>
<h1>{{member.firstName}} {{member.lastName}}</h1>
<img src="/media/liikmed/{{member.photo}}" width="200">
<h3>Muutmine</h3>
<form method="post" action="">
    <label for="firstName">Eesnimi</label>
    <input id="firstName" name="firstName" placeholder="Taivo" value="{{member.firstName}}" required>
    <label for="lastName">Perenimi</label>
    <input id="lastName" name="lastName" placeholder="Pungas" value="{{member.lastName}}" required>
    <label for="alumnus">Vilistlane?</label>
    <input id="alumnus" type="checkbox" name="alumnus"{{#if member.alumnus}} checked{{/if}}>
    <label for="photo">Pildi failinimi</label>
    <input id="photo" name="photo" placeholder="Taivo.jpg" value="{{member.photo}}">
    <input type="submit" value="Muuda">
</form>
<a href="/admin/liikmed/{{member._id}}/kustuta">Kustuta {{member.fullName}}</a>
<h3>Pildi üleslaadimine</h3>
<form method="post" action="/admin/liikmed/{{member._id}}/pilt" enctype="multipart/form-data">
    <label for="photo">Pildi fail</label>
    <input id="photo" type="file" name="photo" accept="image/jpeg" required>
    <input type="submit" value="Laadi!">
</form>
<h3>Kuulumised</h3>
<ul>
    {{#each memberships}}
        <li>{{this.semester.short}} - {{#if this.leader}}<strong>{{this.team.short}}</strong>{{else}}{{this.team.short}}{{/if}} - <a href="/admin/kuulumised/{{this._id}}/kustuta">Kustuta</a></li>
    {{/each}}
</ul>
<h3>Lisa kuulumine</h3>
<form method="post" action="/admin/kuulumised">
    <input type="hidden" name="member" value="{{member._id}}">
    <input type="hidden" name="redirect" value="/admin/liikmed/{{member._id}}">

    <label for="semester">Semester</label>
    <select id="semester" name="semester" required>
        <option hidden disabled selected value>-- vali semester --</option>
        {{#each semesters}}
            <option value="{{this._id}}">{{this.full}}</option>
        {{/each}}
    </select>
    <label for="team">Töögrupp</label>
    <select id="team" name="team" required>
        <option hidden disabled selected value>-- vali töögrupp --</option>
        {{#each teams}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <label for="leader">Juht</label>
    <input id="leader" type="checkbox" name="leader">
    <input type="submit" value="Lisa">
</form>