<h1>Liikmed</h1>
<h3>Lisa liige</h3>
<form method="post" action="">
    <label for="firstName">Eesnimi</label>
    <input id="firstName" name="firstName" placeholder="Taivo" required>
    <label for="lastName">Perenimi</label>
    <input id="lastName" name="lastName" placeholder="Pungas" required>
    <label for="alumnus">Vilistlane?</label>
    <input id="alumnus" type="checkbox" name="alumnus">
    <label for="photo">Pildi fail</label>
    <input id="photo" name="photo" placeholder="/media/liikmed/Taivo.jpg">
    <input type="submit" value="Lisa">
</form>
<h3>Aktiivsed liikmed</h3>
<ul>
    {{#each members}}
        <li><a href="/admin/liikmed/{{this._id}}">{{this.fullName}}</a> - <a href="/admin/liikmed/{{this._id}}/kustuta">Kustuta</a></li>
    {{/each}}
</ul>
<h3>Vilistlased</h3>
<ul>
    {{#each alumni}}
        <li><a href="/admin/liikmed/{{this._id}}">{{this.fullName}}</a> - <a href="/admin/liikmed/{{this._id}}/kustuta">Kustuta</a></li>
    {{/each}}
</ul>