<h1>Kustuta kuulumine?</h1>
<p>{{membership.semester.short}} - {{membership.member.fullName}} - {{#if membership.leader}}<strong>{{membership.team.short}}</strong>{{else}}{{membership.team.short}}{{/if}}</p>
<form method="post" action="">
    <input type="submit" value="Jep">
    <a href="..">Ei</a>
</form>
