<h1>Liikmed</h1>
<div class="collapsible">
    <h3>Lisa liige</h3>
    <form method="post" action="">
        <label for="firstName">Eesnimi</label>
        <input id="firstName" name="firstName" placeholder="Taivo" required>
        <label for="lastName">Perenimi</label>
        <input id="lastName" name="lastName" placeholder="Pungas" required>
        <label for="alumnus">Vilistlane?</label>
        <input id="alumnus" type="checkbox" name="alumnus">
        <input type="submit" value="Lisa">
    </form>
</div>
<div class="collapsible collapsed">
    <h3>Lisa mitu (csv)</h3>
    <p>Näide:</p>
    <code>firstName,lastName,alumnus,email,phone,photo
Taivo,Pungas,true,,,Taivo.jpg</code>
    <form method="post" action="/admin/liikmed/mitu">
        <label for="data">Andmed</label>
        <textarea id="data" name="data" placeholder=""></textarea>
        <input type="submit" value="Lisa">
    </form>
</div>
<div class="collapsible">
    <h3>Aktiivsed liikmed</h3>
    <ul>
        {{#each members}}
            <li><a href="/admin/liikmed/{{this._id}}">{{this.fullName}}</a> - <a href="/admin/liikmed/{{this._id}}/kustuta">Kustuta</a></li>
        {{/each}}
    </ul>
</div>
<div class="collapsible">
    <h3>Vilistlased</h3>
    <ul>
        {{#each alumni}}
            <li><a href="/admin/liikmed/{{this._id}}">{{this.fullName}}</a> - <a href="/admin/liikmed/{{this._id}}/kustuta">Kustuta</a></li>
        {{/each}}
    </ul>
</div>