<h1>Kustuta {{team.name}}?</h1>
{{#if memberships}}
    <h3>Kustuta need kuulumised enne töögrupi kustutamist:</h3>
    <ul>
        {{#each memberships}}
            <li>{{this.semester.short}} - <a href="/admin/liikmed/{{this.member._id}}">{{this.member.fullName}}</a> - <a href="/admin/kuulumised/{{this._id}}/kustuta">Kustuta</a></li>
        {{/each}}
    </ul>
    <a href="..">Tagasi</a>
{{else}}
    <form method="post" action="">
        <input type="submit" value="Jep">
        <a href="..">Ei</a>
    </form>
{{/if}}