<a href="/admin/tiimid">Tagasi</a>
<h1>{{team.name}}</h1>
<form method="post" action="">
    <label for="name">Nimi</label>
    <input id="name" name="name" placeholder="Pilvelõhkujate ehitamise töögrupp" value="{{team.name}}" required>
    <label for="short">Lühend</label>
    <input id="short" name="short" placeholder="pilv" value="{{team.short}}" required>
    <label for="order">Järjekord</label>
    <input id="order" type="number" name="order" value="{{team.order}}" required>
    <label for="active">Aktiivne?</label>
    <input id="active" type="checkbox" name="active"{{#if team.active}} checked{{/if}}>
    <label for="description">Kirjeldus</label>
    <textarea id="description" name="description" placeholder="Ehitame maja" value="{{team.description}}"></textarea>
    <input type="submit" value="Muuda">
</form>
<a href="/admin/tiimid/{{team._id}}/kustuta">Kustuta {{team.name}}</a>
<h3>Kuulumised</h3>
<ul>
    {{#each memberships}}
        <li>{{this.semester.short}} - {{#if this.leader}}<strong>{{this.member.fullName}}</strong>{{else}}{{this.member.fullName}}{{/if}} <a href="/admin/kuulumised/{{this._id}}/kustuta">Kustuta</a></li>
    {{/each}}
</ul>
<h3>Lisa kuulumine</h3>
<form method="post" action="/admin/kuulumised">
    <input type="hidden" name="team" value="{{team._id}}">
    <input type="hidden" name="redirect" value="/admin/tiimid/{{team._id}}">
    <label for="semester">Semester</label>
    <select id="semester" name="semester" required>
        <option hidden disabled selected value>-- vali semester --</option>
        {{#each semesters}}
            <option value="{{this._id}}">{{this.full}}</option>
        {{/each}}
    </select>
    <label for="member">Liige</label>
    <select id="member" name="member" required>
        <option hidden disabled selected value>-- vali liige --</option>
        {{#each members}}
            <option value="{{this._id}}">{{this.fullName}}</option>
        {{/each}}
    </select>
    <label for="leader">Juht</label>
    <input id="leader" type="checkbox" name="leader">
    <input type="submit" value="Lisa">
</form>