<header id="bloglanding">
    <div class="container">
        <div class="content">
            <h1>Coming soon™</h1>
        </div>
    </div>
</header>
{{!--<section id="articles">
    <div class="container">
        <div class="content">
            {{#each articles}}
                <article class="blogpost">
                    <h1 class="title">{{this.title}}</h1>
                    <div class="meta">
                        <div class="date"><span class="icon clock"></span><time datetime="{{moment this.date null}}">{{moment this.date "LLLL"}}</time></div>
                        <div class="author"><span class="icon user"></span>{{this.author.username}}</div>
                    </div>
                    <p class="text">{{this.content}}</p>
                </article>
            {{else}}
                <h2>Veel pole midagi postitatud!!!</h2>
            {{/each}}
        </div>
    </div>
</section>--}}
