<section id="memberlist">
    <div class="container">
        <div class="content">
            <h1>Liikmed</h1>
            <h3>Juhatus</h3>
            <ul>
                {{#juhatus}}{{#members}}
                    <li><strong>{{fullName}}</strong> - {{#memberships}}{{#if leader}}<span><strong>{{semester.short}} {{team.short}}</strong></span>{{else}}<span>{{semester.short}} {{team.short}}</span>{{/if}}{{/memberships}}</li>
                {{/members}}{{/juhatus}}
            </ul>
            {{#tiimid}}
                <h3>{{name}}</h3>
                <ul>
                    {{#members}}
                        <li><strong>{{fullName}}</strong> - {{#memberships}}{{#if leader}}<span><strong>{{semester.short}} {{team.short}}</strong></span>{{else}}<span>{{semester.short}} {{team.short}}</span>{{/if}}{{/memberships}}</li>
                    {{/members}}
                </ul>
            {{/tiimid}}
        </div>
    </div>
</section>