<h1>CMS</h1>
<p>Vali lehekülg, ja muudetav sektsioon:</p>

<div class="cms-pages">
    <div class="cms-page-container">
        <h2>Avaleht</h2>
        <div class="cms-page">
            <a href="/admin/cms/field/{{ cmsMap.index_cta_text._id }}?section=index" id="index_cta_text">Intro ja CTA</a>
            <a href="/admin/cms/field/{{ cmsMap.index_people_container._id }}?section=index" id="index_people_container">Missioon ja inimesed</a>
            <a href="/admin/cms/field/{{ cmsMap.index_sponsors._id }}?section=index" id="index_sponsors">Sponsorid</a>
            <a href="/admin/cms/field/{{ cmsMap.index_partners._id }}?section=index" id="index_partners">Partnerid</a>
        </div>
    </div>

    <div class="cms-page-container">
        <h2>Meist</h2>
        <div class="cms-page">
            <a href="/admin/cms/field/{{ cmsMap.aboutus_intro._id }}?section=about" id="aboutus_intro">Intro</a>
            <a href="/admin/cms/field/{{ cmsMap.aboutus_mission_vision._id }}?section=about" id="aboutus_mission_vision">Missioon ja visioon </a>
            <a href="/admin/cms/field/{{ cmsMap.aboutus_leadership._id }}?section=about" id="aboutus_leadership">Juhatus</a>
            <a href="/admin/cms/field/{{ cmsMap.aboutus_history._id }}?section=about" id="aboutus_history">Ajalugu</a>
            <a href="/admin/cms/field/{{ cmsMap.aboutus_workgroups._id }}?section=about" id="aboutus_workgroups">Töögrupid</a>
        </div>
    </div>

    <div class="cms-page-container">
        <h2>Mentor</h2>
        <div class="cms-page">
            <a href="/admin/cms/field/{{ cmsMap.mentor_intro._id }}?section=mentor" id="mentor_intro">Intro</a>
            <a href="/admin/cms/field/{{ cmsMap.mentor_description._id }}?section=about" id="mentor_description">Mentorprogrammi kirjeldus</a>
            <a href="/admin/cms/field/{{ cmsMap.mentor_benefits._id }}?section=about" id="mentor_benefits">Mentorprogrammi pakkumised</a>
            <a href="/admin/cms/field/{{ cmsMap.mentor_administration._id }}?section=about" id="mentor_administration">Mentorprogrammi vastutajad</a>
        </div>
    </div>
</div>