<section id="alumnilist">
    <div class="container">
        <div class="content">
            <h1>Vilistlased</h1>
            <ul>
                {{#alumni}}
                    <li><strong>{{fullName}}</strong> - {{#memberships}}{{#if leader}}
                        <span><strong>{{semester.short}} {{team.short}}</strong></span>{{else}}
                        <span>{{semester.short}} {{team.short}}</span>{{/if}}{{/memberships}}</li>
                {{/alumni}}
            </ul>
            <h2>2016 ja varasemad vilistlased</h2>
            <ul>
                <li><strong>Al William Tammsaar</strong> - operatsioonid, populariseerimine</li>
                <li><strong>Anna Bilmaijer</strong> - operatsioonid, sise</li>
                <li><strong>Anna Laaneväli</strong></li>
                <li><strong>Annegrete Peek</strong> - sots, mentor</li>
                <li><strong>Annett Saarik</strong> - sise, populariseerimine</li>
                <li><strong>Cornelia Efros</strong> - operatsioonid, sots</li>
                <li><strong>Evert Nõlv</strong></li>
                <li><strong>Halliki Mullari</strong> - operatsioonid, sise</li>
                <li><strong>Hanna Läänemets</strong> - sots, sise</li>
                <li><strong>Helena Talimaa</strong> - sots, mentor, populariseerimine</li>
                <li><strong>Henri Molloka</strong> - sots</li>
                <li><strong>Ingrid Pärkson</strong> - sots</li>
                <li><strong>Ingrid Sarap</strong> - sots, sise</li>
                <li><strong>Ivari Tölp</strong> - operatsioonid, sise, mentor</li>
                <li><strong>Janek Timmas</strong> - operatsioonid, populariseerimine</li>
                <li><strong>Janno Tilk</strong></li>
                <li><strong>Johanna Adele</strong> - sise, populariseerimine</li>
                <li><strong>Joonas Puura</strong> - mentor, populariseerimine</li>
                <li><strong>Karin Kruup</strong> - sots, populariseerimine</li>
                <li><strong>Karl Valliste</strong> - mentor, populariseerimine</li>
                <li><strong>Karl Metsand</strong></li>
                <li><strong>Kätlin Viilukas</strong></li>
                <li><strong>Kevin Kanarbik</strong> - sots, populariseerimine</li>
                <li><strong>Karl-Oskar Masing</strong> - operatsioonid</li>
                <li><strong>Kristiina Ilves</strong></li>
                <li><strong>Kristine Leetberg</strong> - mentor, populariseerimine</li>
                <li><strong>Kristjan Sinikas</strong> - operatsioonid, populariseerimine</li>
                <li><strong>Lisbeth Neevits</strong> - sots, sise</li>
                <li><strong>Merit Laidroo</strong> - operatsioonid, sots, sise</li>
                <li><strong>Merli Mändul</strong> - sots, populariseerimine</li>
                <li><strong>Mikk Laur</strong> - operatsioonid, mentor, populariseerimine</li>
                <li><strong>Oliver Stimmer</strong> - sise</li>
                <li><strong>Ott Matiisen</strong> - operatsioonid, sise</li>
                <li><strong>Perttu Narvik</strong> - sots, populariseerimine</li>
                <li><strong>Pirge Kaasik</strong> - mentor, populariseerimine</li>
                <li><strong>Rain Vagel</strong> - sise, populariseerimine</li>
                <li><strong>Rebeka Mändar</strong></li>
                <li><strong>Rene Lehtma</strong> - sise, mentor, populariseerimine</li>
                <li><strong>Risto Pärnapuu</strong> - sots, sise</li>
                <li><strong>Silver Vapper</strong> - operatsioonid</li>
                <li><strong>Taivo Pungas</strong> - juhatus</li>
            </ul>
        </div>
    </div>
</section>