<section id="events">
    <div class="container">
        <div class="content">
            <h1>Tulevased üritused</h1>
            <div class="eventgrid">
                {{# each newEvents}}
                    <div class="event">
                        <img class="thumbnail" src="{{this.image_url}}" alt="event cover">
                        <div class="meta">
                            <h3 class="title">{{this.title}}</h3>
                            <div class="date"><span class="icon clock"></span><time datetime="{{moment this.date null}}">{{moment this.date "LLLL"}}</time></div>
                            {{#if this.location }}<div class="location"><span class="icon marker"></span>{{this.location}}</div>{{/if}}
                        </div>
                        <div class="links"><a class="btn" href="/üritused/{{this.event_id}}">Lisainfo</a> <a class="btn fb" href="https://facebook.com/events/{{this.event_id}}/" target="_blank" rel="noopener">Facebook</a></div>
                    </div>
                {{/each}}
            </div>
            <h1>Toimunud üritused</h1>
            <div id="oldevents" class="eventgrid">
                {{# each oldEvents}}
                    <div class="event">
                        <img class="thumbnail" src="{{this.image_url}}" alt="event cover">
                        <div class="meta">
                            <h3 class="title">{{this.title}}</h3>
                            <div class="date"><span class="icon clock"></span><time datetime="{{moment this.date null}}">{{moment this.date "LLLL"}}</time></div>
                            {{#if this.location }}<div class="location"><span class="icon marker"></span>{{this.location}}</div>{{/if}}
                        </div>
                        <div class="links"><a class="btn" href="/üritused/{{this.event_id}}">Lisainfo</a> <a class="btn fb" href="https://facebook.com/events/{{this.event_id}}/" target="_blank" rel="noopener">Facebook</a></div>
                    </div>
                {{/each}}
            </div>
            <div class="flexcenter">
                <button id="loadmore" class="btn">Laadi veel</button>
            </div>
        </div>
    </div>
</section>
<script>
    const loadMoreButton = document.getElementById("loadmore");
    const oldEvents = document.getElementById("oldevents");
    const request = new XMLHttpRequest();

    request.onreadystatechange = () => {
        if (request.readyState === 4) {
            if (request.status === 200) {
                const newEvents = JSON.parse(request.responseText);

                if (newEvents.more) {
                    loadMoreButton.classList.remove("hidden");
                }

                for (let event of newEvents.events) {
                    const location = event.location ? `<div class="location"><span class="icon marker"></span>${event.location}</div>` : "";
                    const newEvent = `<div class="event">
                        <img class="thumbnail" src="${event.image_url}" alt="event cover">
                        <div class="meta">
                            <h3 class="title">${event.title}</h3>
                            <div class="date"><span class="icon clock"></span><time>${event.prettyDate}</time></div>
                            ${location}
                        </div>
                        <div class="links"><a class="btn" href="/üritused/${event.event_id}">Lisainfo</a> <a class="btn fb" href="https://facebook.com/events/${event.event_id}/" target="_blank" rel="noopener">Facebook</a></div>
                    </div>`;
                    oldEvents.insertAdjacentHTML("beforeend", newEvent);
                }
            } else {
                alert("Ei õnnestunud.");
            }
        }
    };

    loadMoreButton.onclick = () => {
        const oldEvents = document.getElementsByClassName("event");
        loadMoreButton.classList.add("hidden");
        request.open("GET", "/üritused/get/" + oldEvents.length);
        request.send();
    };
</script>
